<table>
    <tr>
        <td>
            <p>Longhorn Army Ammunition Plant Environmental Restoration Program</p>
            <p><a href="/privacy-policy.html">privacy policy</a> | <a href="/sitemap.xml" target="_blank">website map</a></p>
            <p>Copyright © 2026. All rights reserved.</p>
        </td>
        <td>
            <img alt="Army Seal" src="/assets/seal-army-3fbdebdc0173e6ca18889f024a16b034.png">
            <img alt="Army AEC Seal" src="/assets/seal-aec-c658d4393db79c0060837c9718bde492.png">
            <img alt="Army BRAC Seal" src="/assets/seal-brac-aa2a56b6307ebfe96d89f63da7971f1c.png">
            <img alt="Corp Seal" src="/assets/seal-corp-f942cbc5feecdae43f3e5e4d1613f3e0.png">
            <img alt="bhate Logo" src="/assets/bhate_rs-62.jpg">
            <img alt="APTIM Logo" src="/assets/Aptim-Logo.png">
        </td>
    </tr>
</table>
