<table width="100%">
    <tr>
        <td>
            <p>Fort Chaffee BRAC</p>
            <p><a href="/privacy-policy.html">Privacy policy</a> | <a href="/sitemap.xml" target="_blank">Website map</a> | <a href="/about">About this site</a></p>
            <p>Copyright © 2026. All rights reserved.</p>
        </td>
        <td>
            <img alt="Army Seal" src="/assets/images/footer/seal-army.png">
            <img alt="Army AEC Seal" src="/assets/images/footer/seal-aec.png">
            <img alt="Army BRAC Seal" src="/assets/images/footer/seal-brac.png">
            <img alt="Corp Seal" src="/assets/images/footer/seal-corp.png">
            <img alt="bhate Logo" src="/assets/images/footer/bhate_rs-62.jpg">
            <img alt="APTIM Logo" src="/assets/images/footer/Aptim-Logo.png">
        </td>
    </tr>
</table>
