<table width="100%" style="display: revert; ">
    <tbody width="100%">
        <tr>
            <td colspan="2" align="center">
                <p><strong>Fort Chaffee is a U.S. Army installation managed by the U.S. Army Corps of Engineers, Little Rock District.</strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Fort Chaffee BRAC<br/>
                <a style="text-decoration: revert;" href="/privacy-policy.html">Privacy policy</a> | <a style="text-decoration: revert;" href="/sitemap.xml" target="_blank">Website map (XML)</a> | <a style="text-decoration: revert;" href="/about">About this site</a><br/>
                Copyright © 2026. All rights reserved.</p>
            </td>
            <td align="right" >
                <img alt="Army Seal" width="96" src="/assets/images/footer/seal-army.svg">
                <img alt="Army AEC Seal" width="96" src="/assets/images/footer/seal-aec.png">
                <img alt="DOD Seal" width="96" src="/assets/images/footer/seal-dod.svg">
                <img alt="Corp Seal" width="96" src="/assets/images/footer/seal-corps.svg">
                <img alt="Auxilio" width="128" src="/assets/images/footer/AuxilioLogo.png">
            </td>
        </tr>
    </tbody>
</table>
