{% assign locale = include.locale | default: site.locale %}

{% for post in posts %}
    {% assign mod = forloop.index0 | modulo: 2 %}
    {% if mod == 0 %}
<div class="collection-card-container">
    {% endif %}
  <div class="collection-card">
    <h4 class="nav__title"><a href="{{ post.url | relative_url }}">{{ post.title  | markdownify | strip_html |  truncate: 50 }}</a></h4>
    <p>{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>
    <a href="{{ post.url | relative_url }}">More Information</a>
  </div>
    {% if mod == 1 or forloop.last %}
</div>
    {% endif %}
{% endfor %}
