$black: #282828;

$ratio: 0.8;
$card_width: 360px;
$card_height: $card_width * $ratio;
$card_padding: 10px;
$card-bgcolor: $background-color;
$card_margin: 5px;
$card_round: 10px;

$card-padding-basis: 15px;
$card_head_padding: 0px 0px $card-padding-basis 0px;

.collection-card-container{
  display: flex;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.collection-card {
  width: $card_width;
  border: $active-color 3px solid;
  min-height: $card_height;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px;
  margin: $card_margin;
  
  border-radius: $card_round;
  a {
    text-decoration: none;
    color: $background-color;
    background: mix($primary-color, $darker-gray, 90%);
    text-align: center;
    margin-top: auto;
    border-radius: 0px 0px $card_round  $card_round ;
  }

  hr {
        color: $background-color;
        background: mix($primary-color, $darker-gray, 90%);
  }

  h1, h2, h3, h4, h5 {
        margin: 0px;
        padding: 10px;
        border: 0px;
        border-radius: $card_round  $card_round 0px 0px;
        color: $background-color;
        background: mix($primary-color, $darker-gray, 90%);
    }  

    p {
        margin:5px;
        padding: $card-padding-basis;
        border: 0px;
        color: $text-color;
        background: $card-bgcolor;
    }
}
