$black: #282828;

$ratio: 0.9;
$card_width: 300px;
$card_height: $card_width * $ratio;
$card_padding: 10px;
$card_margin: 5px;
$card_round: 10px;

$card-padding-basis: 15px;

.collection-card-container{
  display: flex;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.collection-card {
  width: $card_width;
  border: $active-color 3px solid;
  min-height: $card_height;
  position: relative; 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px;
  margin: $card_margin;
  
  border-radius: 12px;
  a {
    text-decoration: none;
    color: $background-color;
    background: mix($primary-color, $darker-gray, 90%);
    text-align: center;
    margin-top: auto;
    // border-radius: 0px 0px 8px 8px;
  }

  .cercla-status {
    position: absolute; 
    margin: 0px;
    padding: 0px;
    width: 100%;
    bottom: 0; 
    color: $background-color;
    background: mix($primary-color, $darker-gray, 90%);
    text-align: center;
    border-radius: 0px 0px 8px 8px ;
  }

  .notice--text
  {
    background: mix($light-gray, $darker-gray, 90%);
  }

  .notice--text--primary
  {
    background: mix($primary-color, $darker-gray, 90%);
  }

  .notice--text--info
  {
    background: mix($info-color, $darker-gray, 90%);
  }

  .notice--text--warning
  {
    background: mix($warning-color, $darker-gray, 90%);
  }

  .notice--text--success
  {
    background: mix($success-color, $darker-gray, 90%);
  }

  .notice--text--danger
  {
    background: mix($danger-color, $darker-gray, 90%);
  }

  hr {
        color: $background-color;
        background: mix($primary-color, $darker-gray, 90%);
  }

  h1, h2, h3, h4, h5 {
        margin: 0px;
        padding: 10px;
        border: 0px;
        border-radius: 8px 8px 0px 0px;
        color: $background-color;
        background: mix($primary-color, $darker-gray, 90%);

        span {
            padding: 4px;
        }
    }  

    p {
        margin:5px;
        padding: $card-padding-basis;
        border: 0px;
        color: $text-color;
        background: $background-color;
    }   
}

.collection-card:hover {
  border: $primary-color 3px solid;
}